body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #153861;
  background: linear-gradient(#79d7be 0%, #4da1a9 50%, #f6f4f0 100%);
}
.weather-app {
  width: 700px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.36);
}
.weather-app .cards-container {
  border-top: 1px solid #153861;
  display: flex;
  justify-content: space-between;
}
.weather-app .card-container {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.weather-app .today-container {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.weather-app .unit-container {
  margin: 20px 10px 0;
}
.weather-app .unit-container button {
  color: #153861;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 20px 5px 0;
}
.weather-app .info-container svg {
  transform: scale(7);
  margin: 40px 40px 0 0;
}
.weather-app .info-container svg path {
  fill: #153861;
}
.weather-app .icon-container {
  height: 50px;
  display: flex;
  align-items: center;
}
.weather-app p {
  margin: 10px;
}
.weather-app .unit-container button{
  margin-right: 10px;
}
.unit-border{
  border-bottom: 1px solid #153861  !important;
}